<li>
<%= gravatar_for user, size: 50 %>
<%= link_to user.name, user %>

<!-- 自分自身が、管理者　としてログインしてる時に、 -->
<!-- 自分自身のユーザー名以外の棚に現れる -->
<% if current_user.admin? && !current_user?(user) %>
<!-- current_user = 相応わしい会員証を、引っ張ってくるアクション(method)  -->
<!-- current_user.admin?　=　今ログインしてる貴方のhushのadminは、TRUE? FALSE? -->
<!-- !current_user?(user)　= "user" is not current_user , right ??  -->

| <%= link_to "delete" , user ,method: :delete, data: { confirm: "you sure?" } %>
<!-- deleteボタン -->

<% end %>
</li>